img {
    max-width: 150px;
}

#buttons {
    margin-top: 10%;
    border: solid red;
}

#buttons button{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: red;
}